In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df_train = pd.read_csv("train_data.csv")
df_test = pd.read_csv("test_data.csv")

In [3]:
df_test.head(n=5)

        T       V      P     RH
0  236.34  406.26  91.32  52.36
1  237.51  308.58  91.85  53.03
2  123.89  264.18  91.72  53.99
3  142.35  262.80  92.96  38.08
4  263.90  350.46  92.19  51.83

In [4]:
df_train.head(n=5)

        T       V      P     RH        E
0  273.39  420.12  91.84  57.41  1778.12
1  195.26  248.88  92.29  35.21  1824.16
2  377.52  360.42  92.31  27.69  1761.72
3  171.60  244.98  91.61  56.99  1889.64
4  222.56  353.70  92.43  54.25  1806.68

In [5]:
train_x = df_train.values
train_y = train_x[:,-1]
train_x = train_x[:,:-1]

In [7]:
print(train_x[:5])
print(type(train_x))

[[273.39 420.12  91.84  57.41]
 [195.26 248.88  92.29  35.21]
 [377.52 360.42  92.31  27.69]
 [171.6  244.98  91.61  56.99]
 [222.56 353.7   92.43  54.25]]
<class 'numpy.ndarray'>

In [8]:
print(train_y[:5])
print(type(train_y))

[1778.12 1824.16 1761.72 1889.64 1806.68]
<class 'numpy.ndarray'>

In [11]:
test_x = df_test.values
print(test_x[:5])

[[236.34 406.26  91.32  52.36]
 [237.51 308.58  91.85  53.03]
 [123.89 264.18  91.72  53.99]
 [142.35 262.8   92.96  38.08]
 [263.9  350.46  92.19  51.83]]

In [13]:
model = LinearRegression(normalize=True)

In [14]:
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [19]:
y_p = model.predict(train_x)
print(y_p)

[1777.10092047 1875.26180077 1756.19593437 ... 1791.5478292  1784.86028687
 1865.00863626]

# Predicting of test data

In [27]:
print(model.score(train_x,train_y))

0.9285218855512961

In [28]:
y_pt = model.predict(test_x)
print(y_pt)

[1805.49397459 1821.13287974 1894.84148225 1903.07416548 1800.56211847
 1789.42638908 1723.26824251 1801.13708056 1723.68258772 1795.82987861
 1794.44100475 1865.83076115 1919.16115758 1904.64631333 1928.57321689
 1818.56044537 1773.27982433 1771.09937574 1863.70793841 1782.9784296
 1734.05967349 1782.4745131  1770.52062601 1772.33269406 1820.13981063
 1771.85171699 1866.95087813 1804.22033108 1876.89874081 1716.48261208
 1907.49819792 1825.41012753 1769.19152751 1765.65173653 1767.25130382
 1818.51952388 1806.0266863  1886.79641944 1874.11210891 1874.16800963
 1770.70756048 1784.66376365 1883.72687048 1796.88930772 1789.90381836
 1764.66419674 1724.4679944  1777.62652843 1779.96051706 1789.99346258
 1914.59118101 1888.46905991 1892.45858058 1862.31835523 1782.21184222
 1755.89836015 1930.17125429 1842.88575498 1879.9517756  1715.72343397
 1853.41715878 1790.53071947 1791.55041073 1895.24990099 1853.92806733
 1840.94277589 1878.04029369 1774.22207117 1762.6237447  1783.29325751
 1868.64715193 1734.49191485 1859.08390052 1823.97038084 1856.88960984
 1751.0437377  1782.58098869 1805.90962409 1933.23161639 1870.02690293
 1932.99413141 1752.65429403 1806.92272725 1921.9705767  1783.90496421
 1874.06481121 1750.93758697 1849.90090411 1817.20450648 1848.40445184
 1782.12978107 1778.93903385 1904.08080754 1783.8341888  1877.89421866
 1871.0969287  1898.76488469 1816.06357884 1883.07598911 1869.50183697
 1732.72854043 1809.41648607 1787.94387877 1827.86177763 1777.85131829
 1776.06811208 1866.51847859 1772.60756663 1874.72683378 1905.79771157
 1924.37222812 1760.12581203 1718.48023577 1729.25367811 1917.29154717
 1753.62586507 1887.50466421 1834.04008048 1894.02741562 1720.05959241
 1904.31662176 1901.57456321 1865.09544527 1804.33310734 1884.37252128
 1882.8432924  1807.47391081 1867.2061336  1843.40853303 1736.52950572
 1797.08301779 1751.5859338  1807.99925601 1873.28016823 1725.27615229
 1752.16991332 1835.90482541 1765.08919336 1869.84825534 1850.80389378
 1885.01427528 1891.06295462 1880.59582103 1811.88759706 1761.21246035
 1855.14408161 1702.1591764  1782.65916805 1908.6419188  1758.84980484
 1733.81883107 1812.39926012 1840.54447981 1706.09251462 1819.65460755
 1870.62683683 1852.5762965  1913.63226226 1765.94898725 1932.12825909
 1811.11192361 1884.79993368 1782.30371681 1886.03982441 1756.26337051
 1877.72142519 1866.25362465 1811.69488563 1921.86946014 1813.13666486
 1810.90642748 1797.02587796 1729.5664107  1865.53961522 1721.4419556
 1899.38928531 1781.06590112 1778.79856194 1717.64993361 1927.85973358
 1927.13681245 1853.79289078 1777.87559155 1828.85562081 1801.19999214
 1856.94973396 1733.43188797 1732.94549589 1877.25622173 1815.70859162
 1780.10428714 1922.06091256 1887.88319036 1878.17901481 1901.23733339
 1749.02340061 1723.55419347 1911.84784868 1734.02104113 1819.10169736]

In [29]:
y_pt = pd.DataFrame(y_pt)

In [30]:
print(y_pt.head(n=5))

             0
0  1805.493975
1  1821.132880
2  1894.841482
3  1903.074165
4  1800.562118

In [31]:
y_pt.to_csv("sample_submission.csv")